---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
import "../styles/styles.css";

const projects = [
  {
    title: "DNA Toolkit [Development Paused]",
    desc: [
      "Designed a Python-based utility for bioinformatics sequence manipulation (Transcription, Translation, and GC Content calculation).",
      "Implemented molecular biology algorithms to process raw genetic data into actionable insights.",
      "Developing a modular architecture to allow future integration of proteomics and sequence alignment tools.",
      "Project currently in 'standby' while focusing on telemetry systems, but serves as a core logic foundation.",
    ],
    tech: ["Python", "BioPython", "Pytest", "GitHub"],
  },
];
---

<!doctype html>
<html>
  <Header title="Personal Projects | Alejandro Ramírez" />
  <body>
    <div class="content">
      <Sidebar selectedItem="personal-projects" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img
                src="/assets/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
              />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Personal Projects</h1>
            <section class="items-container">
              <div class="resouce-items">
                {
                  projects.map((project) => (
                    <Project
                      title={project.title}
                      desc={project.desc}
                      tech={project.tech}
                    />
                  ))
                }
              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
